html{
    height: 100%;
}
body{
    background-color: rgb(145, 136, 136);
    color: white;
}
h1, h2, h3{
    color: white;
}
button .impresora, a img{
    height: 25px;
}
textarea{
    background-color: transparent;
}
.imagen-ref{
    height: 300px;
}
.imagen-ref:hover{
    opacity: 0.8;
}
.btn-group-vertical{
    width: 100%;
}
.btn-group-vertical > .btn, .btn-design{
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border-color: white;
    border-left: transparent;
    border-right: transparent;
    border-radius: 0;
    height: 50px;
    text-align: center;
    /* opacity: 0; */
}
.btn-back{
    background-color: rgba(255, 0, 0, 0.2);
}
.btn-group-vertical > .btn:hover, .btn-design:hover{
    background-color: rgba(0, 0, 0, 0.459);
    color: rgb(74, 144, 255);
}
.contenedor-principal{
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.6);
}
.contenedor-transparente{
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
}
tbody, thead{
    color: white;
}
.card{
    background-color: rgba(0, 0, 0, 0.3);
    border-color: rgba(0, 0, 0, 0);
}
.table{
    background-color: rgba(0, 0, 0, 0.3);
}
.table > tbody > tr:hover{
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
}
.mostrarResultados{
    background-color: rgba(0, 0, 0, 0.3);
    
}

.menu{
    text-align: center;
}

.opcionesBusqueda, .menuSeleccion{
    margin-top: 20px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.3);
}
.opcionesBusqueda > .menu, .menuSeleccion > .menu{
    padding: 15px;
}
.menu > form > label{
    margin-bottom: 15px;
    margin-top: 15px;
}
.mostrarContenido{
    margin-top: 20px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 15px;
}
.contenido{
    height: 500px;
    padding-right: 50px;
    padding-left: 50px;
    overflow-y: scroll;
}
.contenido::-webkit-scrollbar{
    width: 20px;
}
.contenido::-webkit-scrollbar-track{
    background: rgba(0, 0, 0, 0);
}
.contenido::-webkit-scrollbar-thumb {
    background-color: #00000000;
    border: 3px solid #ffffff;
}
th{
    margin: 5px;
}